# Puerto donde corre la API
PORT=3000

# Configuración de la base de datos PostgreSQL
DB_USER=tu_usuario
DB_HOST=localhost
DB_NAME=nombre_base_datos
DB_PASSWORD=tu_contraseña
DB_PORT=5432 # Puerto por defecto para servicios PostgreSQL

# Configuración de la base de correo electrónico del dominio
MAILDB_USER=tu_usuario
MAILDB_HOST=localhost
MAILDB_NAME=maildb
MAILDB_PASSWORD=TU_PASSWORD
MAILDB_PORT=5434
